.page {
  background-color: black;
  color: white;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Inter";
  /* margin-left: 200px;
  margin-right: 200px; */
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

@media screen and (max-width: 1100px) {
  .page__section {
    margin: 0 50px;
    max-width: calc(100% - 100px);
  }
}
