.card {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  min-height: 361px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  background: transparent url(../images/Trash.svg) center no-repeat;
  position: absolute;
  margin-top: 18px;
  margin-left: 249px;
  height: 21px;
  width: 19px;
  border: none;
  cursor: pointer;
}

.card__delete-button:hover {
  opacity: 0.5;
}

.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
  cursor: pointer;
}

.card__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 20px;
}

.card__name {
  margin: 25px 0;
  max-width: 219px;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__favorite-button {
  padding: 11px;
  background: transparent url(../images/Group.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  cursor: pointer;
}

.card__favorite-button_pressed {
  background: url(../images/like.svg) center no-repeat;
}

.card__favorite-button:hover {
  opacity: 0.5;
}
